html, body {
	height: 100%;
	margin: 0;
	padding: 0;
    width: 100%;
}

body {
	position: relative;
}

button {
	background-color: #D9D9D9;
	width: 56px
}

#detaitsButton {
	top: 10px;
	right: 10px;
}

#detaitsContent {
	background-color: rgba(235, 235, 235, 0.9);
	height: 100%;
	right: 0;
	top: 0;
	width: 275px;
}

#map-canvas {
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}

#searchButton {
	left: 10px;
	top: 10px;
}

.close {
	padding: 10px;
	text-align: right;
}

.notNow {
	display: none;
}

.overlayOne {
	position: absolute;
	z-index: 11;
}

.overlayTwo {
	position: absolute;
	z-index: 12;
}

.overlayThree {
	position: absolute;
	z-index: 13;
}

/* When on mobile/thin browser */
@media all and (max-width: 479px) {
	#detaitsContent {
		width: 100%;
	}

	.overlayOne {
		focus {outline:0;}
	}
}