html, body {
	height: 100%;
	margin: 0;
	padding: 0;
    width: 100%;
}

body {
	position: relative;
}

button {
	background-color: #D9D9D9;
    font-size: 14px;
	width: 72px
}

#detailsButton {
	top: 15px;
	right: 15px;
}

#detailsContent {
	right: 0;
}

#detailsInfo h2, #detailsInfo h3 {
	text-align: center;
}

#map-canvas {
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}

#searchButton {
	left: 15px;
	top: 15px;
}

#searchContent {
	left: 0;
}

#searchInfo {
	display: block;
	position: absolute;
	width: 100%;
	top: 95px;
	bottom: 0px;
	overflow-y: scroll;

	margin: 0 0 15px 0;
	padding: 0 15px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.closeLeft {
	text-align: left;
}

.closeRight {
	text-align: right;
}

.details {
	margin: 15px;
}

.notNow {
	display: none;
}

.overlayOne {
	position: absolute;
	z-index: 11;
}

.overlayTwo {
	background-color: rgba(235, 235, 235, 0.9);
	bottom: 0;
	height: 100%;
	max-height: 100%;
	overflow: none;
	position: absolute;
	top: 0;
	width: 275px;
	z-index: 12;
}

.overlayThree {
	position: absolute;
	z-index: 13;
}

.searchBox {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 16px;
	width: 100%;
}

.searchList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;

	display: block;
	height: 100%;
	max-height: 100%;
}

.searchList li {
	background-color: red;
	width: 100%;

	display: block;
}

/* When on mobile/thin browser */
/*@media all and (max-width: 479px) {*/
@media all and (max-width: 549px) {
	.overlayOne {
		focus {outline:0;}
	}

	.overlayTwo {
		width: 100%;
	}
}